* {
    font-size: 20px;
    font-family: Roboto;
}

.text::first-letter {
    color: red;
    font-size: 150%;
}

.question_text {
    background-color: aquamarine;
    border-radius: 1em;
}

.question_1 {
    background-color: coral;
}

.answer_img {
    width: 100px;
    height: 100px;
}

.question_2 {
    background-color: aliceblue;
}

.question_3 {
    background-color: goldenrod;
}

.question_4 {
    background-color: green;
}

.question_5 {
    background-color: aquamarine;
}

.answer_1::after:hover {
    content: attr(title);
}

.answer_2::after:hover {
    content: attr(title);
}

.answer_3::after:hover {
    content: attr(title);
}

.answer_4::after:hover {
    content: attr(title);
}

.answer_5::after:hover {
    content: attr(title);
}

header {
    width: 100%;
    background: #eeeff1;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.header_logo {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    cursor: pointer;
    margin-top: 35px;
}

.quiz {
    padding-top: 100px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.quiz_question {
    border-radius: 1em;
}